<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title タスクランナー | #{site.name}
    link(rel="stylesheet", href="./assets/css/main.css")
    script(src="./assets/js/bundle.js" defer)
    - for (var x = 0; x < 300; x++)
      - var count = x + 1
      - var name = ("00" + count).slice(-3)
      link(rel="preload", href="./assets/image/image" + name + ".png" as="image")
  body

    #app
      .fixImage
        p スクロールしてください
        img#scrollIMG(src="./assets/image/image001.png", alt="")
      #imgWrap

