.section {
  max-width: 1250px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 80px;
  padding-left: 80px;
}

.section_inner {
  max-width: 1250px;
}

#app {
  height: 5000px;
}

#scrollIMG {
  position: fixed;
  top: 50px;
  left: 20px;
}

@media screen and (max-width: 767px) {
  .section {
    padding-right: 15px;
    padding-left: 15px;
  }
  .section_inner {
    padding-right: 15px;
    padding-left: 15px;
  }
}